@font-face {
  font-family: "aurora_extendedregular";
  src: url("resources/fonts/auroe___-webfont.woff2") format("woff2"),
    url("resources/fonts/auroe___-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-color: rgb(44, 51, 51);
  --secondary-color: rgb(46, 79, 79);
  --neutral-100: rgb(14, 131, 136);
  --neutral-300: rgb(203, 228, 222);

  --ff: "aurora_extendedregular";
}

/* css stylesheet reset */
*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* custom stylesheet */
body {
  width: 100%;
  height: 100vh;
  background-color: var(--primary-color);
  font-family: var(--ff) !important;
  color: var(--neutral-300);
}
